ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGOD_PORT=
ALGOD_TOKEN=
ALGOD_MNEMONIC=replace with your 25-word algorand testnet mnemonic
PAYMENT_THRESHOLD=75
DEMO_PAYMENT_ALGO=0.1
ALGOD_EXPLORER_BASE=https://testnet.algoexplorer.io/tx/
